<table class = "posttable" style = "width:100%" valign="top">
        <tr> 
            <td colspan="3"><div class="posttitle"> {{post.title}} </div>
            </td>
        </tr>
        <tr>
            <td width="10%" >
                {% if post.happiness_level==1 %}
                <a><img src="{{ url_for('static', filename = 'happiness-level-1.png' )}}"  width="40" > </a>
                {% elif post.happiness_level==2 %}
                <a><img src="{{ url_for('static', filename = 'happiness-level-2.png' )}}"  width="40" > </a>
                {% else %}
                <a><img src="{{ url_for('static', filename = 'happiness-level-3.png' )}}"  width="40" > </a>
                {% endif %}
                <br>
            </td>

            <td width="80%" >
                <!--  (milestone 1) TODO: include post body -->  
                <div class="postbody"> <p>{{post.body}}</p></div>                          
                <br>
                Posted at: {{ post.timestamp }}
            </td> 

            <td width = "5%">
                <!-- (milestone1)  TODO: add the link for "like" link-->                            
                <a href="{{ url_for('likepost',post_id=post.id) }}" width = "35" ><img src="{{ url_for('static', filename = 'like.png' )}}"  width="50" > </a>
                
                <br>
                <!-- (milestone1) TODO: include the like count-->
                <div class="likecount"> {{post.likes}} </div>  
                <br> 
                 <!-- (milestone3) TODO: if the post is posted by the logged in user, include the delete link. --> 
            </td>
        </tr>
        
        <tr> 
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>
                <!-- (milestone2) TODO: include all the tags associated with the post-->
            </td>
        </tr>

        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>
                  <!-- (milestone3) TODO: include username who posted the post-->
              </td>
            </tr>
        </tr>
    </table>